    <div class="wrap-home">
        <div class="home_part_1">
            <div class="home_part_1-header">
                <img src="/img/logo.png" alt="" class="home_logo">
                <ul class="list_home_action">
                    <li class="change-language">
                        <span class="globe_home_icon">
                            <i class="fas fa-globe"></i>
                        </span>
                        Tiếng Việt
                        <span class="dow_home_icon">
                            <i class="fas fa-caret-down"></i>
                        </span>
                    </li>
                    <li class="login_home">Đăng nhập</li>
                </ul>
            </div>
            <div class="home_part_1-over">

            </div>
            <div class="home_part_1_content">
                <h1 class="home_part_1_content-1">
                    Chương trình truyền hình, phim không giới hạn và nhiều nội dung khác.
                </h1>
                <h3 class="home_part_1_content-2">
                    Xem ở mọi nơi. Hủy bất kỳ lúc nào.
                </h3>
                <h4 class="home_part_1_content-3">
                    Bạn đã sẵn sàng xem chưa? Nhập email để tạo hoặc kích hoạt lại tư cách thành viên của bạn.
                </h4>
                <ul class="home_part_1_content-input">
                    <input type="text" placeholder="Địa chỉ email" class="home_part_1-input">
                    <button class="home_part_1-button">Bắt đầu 

                    </button>
                </ul>
            </div>
        </div>

        <div class="home_part_item home_part_item-2">
            <div class="home_part_item-wrap">
                <ul class="home_part_item-content">
                <h1 class="home_part_item-content-name">
                    Thưởng thức trên TV của bạn.
                </h1>
                <h2 class="home_part_item-content-dev">
                    Xem trên TV thông minh, Playstation, Xbox, Chromecast, Apple TV, đầu phát Blu-ray và nhiều thiết bị khác.
                </h2>
            </ul>
            <div class="home_part_item-video">
                <video  autoplay="true" muted="muted" class="home_part_item-video-real" src="/video/video1.m4v"  ></video>
                <img class="home_part_item-img" src="/img/tv.png" alt="">
            </div>
            </div>
        </div>
       <div class="home_part_item home_part_item-3">
            <div class="home_part_item-wrap">
                <div class="home_part_item-wrap_img">
                    <img class="home_part_3-img" src="/img/mobile.jpg" alt="">
                    <ul class="home_part_3-sample">
                        <li >
                            <img class="home_part_3-sample-img" src="/img/img_home_3.png" alt="">
                        </li>
                        <li class="home_part_3-sample-content">
                            <div class="home_part_3-sample-content-1">Cậu bé mất tích</div>
                            <div class="home_part_3-sample-content-2">Đang tải xuống...</div>
                        </li>
                        <li >
                            <img class="home_part_3-sample-icon" src="/img/icon_dow.gif" alt="">
                        </li>
                    </ul>
                </div>
                <ul class="home_part_item-content">
                <h1 class="home_part_item-content-name">
                    Tải xuống nội dung để xem ngoại tuyến.
                </h1>
                <h2 class="home_part_item-content-dev">
                    Lưu lại những nội dung yêu thích một cách dễ dàng và luôn có thứ để xem.
                </h2>
            </ul>
          
            </div>
        </div>
        <div class="home_part_item home_part_item-3_5">
            <div class="home_part_item-wrap">
             
                <ul class="home_part_item-content">
                <h1 class="home_part_item-content-name">
                      Xem ở mọi nơi.
                </h1>
                <h2 class="home_part_item-content-dev">
                    Phát trực tuyến không giới hạn phim và chương trình truyền hình trên điện thoại, máy tính bảng, máy tính xách tay và TV.                </h2>
            </ul>
          
            </div>
        </div>
        <div class="home_part_item home_part_item-4">
            <div class="home_part_item-wrap">
                <div class="home_part_item-video">          
                    <img class="home_part_3-img" src="/img/img_home_4.png" alt="">
                </div>
                <ul class="home_part_item-content">
                <h1 class="home_part_item-content-name">
                    Tạo hồ sơ cho trẻ em.
                </h1>
                <h2 class="home_part_item-content-dev">
                    Đưa các em vào những cuộc phiêu lưu với nhân vật được yêu thích trong một không gian riêng. Tính năng này đi kèm miễn phí với tư cách thành viên của bạn.   
                </h2>
            </ul>
          
            </div>
        </div>
        <div class="home_part_item home_part_item-5">
            <div class="home_part_item-wrap">
                
                <ul class="home_part_item-content">
                <h1 class="home_part_item-content-name">
                   Bạn có điện thoại Android? Hãy thử gói dịch vụ miễn phí mới của chúng tôi!
                </h1>
                <h2 class="home_part_item-content-dev">
                    Xem các bộ phim và chương trình truyền hình mới được tuyển chọn mà không cần cung cấp thông tin thanh toán!  
                </h2>
            </ul>
            <div class="home_part_item-video">          
                <img class="home_part_5-img" src="/img/img_home_5.jpg" alt="">
            </div>
          
            </div>
        </div>
    </div>
    <script>
        document.querySelector('.home_part_item-video-real').onended = function(){
            this.play();
        }
    </script>